#masterBody {
    padding-top: 0px;
    padding-bottom: 1vmax;

}

.navbar {
    border-radius: 0px;
    padding-bottom: 0vmax;
}

.buttonClass {
    background-color: #b5e7a0;
    border-color: #b5e7a0;
}




