@page
@model Iteracion_2.Pages.Articulos.FormularioRevisionModel
@{
    ViewData["Title"] = "FormularioRevision";
}

<h2>Formulario de Revision</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6 no-float">Navigation</div>
        <div class="col-md-6 no-float">
            <div class="form-group row">
                <div class="row">
                    <div class="col-lg-4">
                        <label for="Opinion general">Opinion General</label>
                    </div>
                    <div class="col-lg-4">
                        <select class="form-control" id="sel1" name="Opinion General">
                            <option value="">Choose here</option>
                            <option>0</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        <label for="Contribucion">Contribucion</label>

                    </div>
                    <div class="col-lg-4">
                        <select class="form-control" id="sel2" name="Contribucion">
                            <option value="">Choose here</option>
                            <option>0</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        <label for="Forma">Forma del articulo</label>

                    </div>
                    <div class="col-lg-4">
                        <select class="form-control" id="sel2" name="Forma">
                            <option value="">Choose here</option>
                            <option>0</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>