@page
@model Iteracion_2.Pages.Articulos.RevisionModel
@{
    ViewData["Title"] = "Revision";
}

<html>
    <head>
        <meta charset="utf-8" />
        <title>Shieldship | Miembros</title>

        <link rel="stylesheet" href="~/css/lista-miembros.css">
        <link rel="stylesheet" href="~/css/article-list-basic.css">
        <script src="https://kit.fontawesome.com/8dbd1c7c50.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <h3>Articulos pendientes de revisión</h3>

        <ul class="article-list-basic">
            @for (int index = 0; index < Model.ArticulosPendientes.Count; index++)
            {
            <li id="@index">
                <a href="#@index">
                    <img src="https://source.unsplash.com/random/800x600" alt="Sahale Wa" />
                </a>
                <div>
                    <h2><a href="#@index">@Model.ArticulosPendientes[index][1]</a></h2>
                    <p></p>
                    <span>
                        por
                        @{
                            int artIDPk = Int32.Parse(Model.ArticulosPendientes[index][0]);
                            string titulo = Model.ArticulosPendientes[index][1];
                            string[] autores = Model.ArticulosPendientes[index][2].Split(',');
                            string[] usuarios = Model.ArticulosPendientes[index][3].Split(',');
                            for (int indexJ = 0; indexJ < autores.Length; indexJ++)
                            {
                                <a href="~/Perfil/Perfil?UsuarioURL=@usuarios[indexJ]">@autores[indexJ]</a>
                            }
                        }

                    </span>
                    <br />
                    <br />
                    <a href="#" class="read-more">Revisar</a>
                    <a href="#" class="read-more">Ver más &rarr;</a>
                    <br />
                    <br />
                    <!--Necesito recuperar el nombre del artículo o el art id cuando el mae haga click en solicitar
    colaboracion-->
                    <!--Además necesito que este botón solo sea visto por el coordinador-->
                    <!--Incluir código de Iván del layout para que esto solo lo vea el coordinador-->
                    <span>
                        @{
                            Model.ArtIDPk = artIDPk;
                            Model.Titulo = titulo;
                        }
                    </span>

                    <form asp-page-handler="send" method="post">
                        <a href="~/Articulos/Revision" class="read-more">Solicitar Colaboración </a>
                    </form>



                </div>
            </li>
                        }
        </ul>
    </body>
</html>



