@page
@model Iteracion_2.Pages.RegistrarModel
@{
    ViewData["Title"] = "Registrar";
}

<h2>Registrar</h2>

<form method="post">
    <div class="form-group">
        <label for="inputName">FullName</label>
        <input type="text" class="form-control" name="inputName" placeholder="John Sm...">
    </div>
    <div class="form-group">
        <label for="inputUsername">Username</label>
        <input type="text" class="form-control" name="inputUsername" placeholder="Das_348">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <button type="submit" class="btn btn-primary">Sign Up</button>
            <button type="reset" class="btn btn-primary">Clear</button>
        </div>
    </div>
</form>