@page
@model Iteracion_2.Pages.vistaMeritosModel
@{
    ViewData["Title"] = "vistaMeritos";
}

<h2>VistaMeritos</h2>
<form method="post">
    <h1>Merito</h1>
    <input type="text" name=" param2 " />
    <button class="Boton">Probar</button>
    <br />
    <h2 class="clearfix">@Model.Merito</h2>
    <br />
    <h2 class="clearfix">@Model.pruebaAutores</h2>

</form>
