@page
@model Iteracion_2.Pages.Registrar.IngresarModel
@{
    ViewData["Title"] = "Ingresar";
}

<h2>Ingresar</h2>

<label for="inputName"> @ViewData["valid"] </label>

<form method="post">
    <div class="form-group">
        <label for="nombreUsuario">Nombre de Usuario</label>
        <input type="text" class="form-control" name="nombreUsuario" placeholder="Das_348" maxlength="49">
    </div>
    <div>
        <label for="contrasenia">Contraseña</label>
        <input type="text" class="form-control" name="contrasenia" placeholder="**************" maxlength="15" readonly>
    </div>
    <label for="inputName" style="color:red;"> @ViewData["username"] </label>
    <div class="form-row">
        <div class="form-group col-md-6">
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </div>

    </div>
</form>
<form asp-page-handler="Crear" method="post">
    <button class="btn btn-default">Crear cuenta</button>
</form>