@page
@model Iteracion_2.Pages.Analitica.ChartModel
@{
    ViewData["Title"] = "Chart";
}

<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
</head>
<h1>Mi grafico</h1>

<div class="container">
    <canvas id="myChart" > </canvasid>
</div>

<script>
    let myChart = document.getElementById('myChart').getContext('2d');
    let massPopChart = new Chart(myChart, {
        type: 'radar', // Me permite cambiar el tipo de char radar 
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45]


            }, {
                label: 'My First dataset',
                backgroundColor: 'rgb(fff, fff, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 5, 10, 2, 30, 20, 50]



                }],

        },
        options: {}
    });
</script>

