@page
@model Iteracion_2.Pages.Analitica.ReporteModel
@{
    ViewData["Title"] = "Reporte";
}

<head>
    <link rel="stylesheet" href="~/css/border-radius.css" />
</head>

<body>
    <h1 style="text-align:center"><b>Reporte Configurable</b></h1>


    <select style="font-size:20px" id="configuracion">
        <option value="">===Selecciona===</option>
        <option value="pais">País</option>
        <option value="tipo">Tipo de miembro</option>
        <option value="habilidades">Habilidades</option>
        <option value="hobbies">Hobbies</option>
        <option value="idiomas">Idioma</option>

        
    </select>
    <div>
        <label for="GG">Prueba</label>

        <input id="datos" type="text" value="" disabled />
        <input id="realizarBusqueda" type="button" value="Graficar" />


    </div>


    <div id="chart"></div>

    @section Scripts
        {
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script type="text/javascript">
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);
            var $selecciones = "";
            var $cantidadSelecciones = []
            var $contador = 0;
            function drawChart() {
                var jsonData = $.ajax({
                    url: "/Analitica/Reporte?handler=ChartData",
                    dataType: "json",
                    async: false
                }).responseText;
                var data = new google.visualization.DataTable(jsonData);
                var options = {
                    'title': 'Miembros de la comunidad',
                    'width': 850,
                    'height': 650
                };
                var chart = new google.visualization.PieChart(document.getElementById('chart'));
                chart.draw(data, options);
            }

            var $lista = []
            var $filtros = ""

            $('select').on('change', function (e) {
                var optionSelected = $("option:selected", this);

                var valueSelected = this.value;

                if ($lista.length < 2) {
                    $filtros += valueSelected + ","
                    $lista.push(valueSelected)

                    $("#datos").val($filtros)
                }

                console.log(optionSelected)
                console.log(valueSelected)
            });

            $('#realizarBusqueda').click(function () {
                console.log("hola")
                if ($filtros != "") {
                    var jsonData = $.ajax({
                        url: "/Analitica/Reporte?handler=ChartData&entrada=" + $filtros,
                        dataType: "json",
                        async: false
                    }).responseText;
                    var data = new google.visualization.DataTable(jsonData);
                    var options = {
                        'title': 'Miembros de la comunidad por: ' + $filtros,
                        'width': 850,
                        'height': 650
                    };

                    if ($cantidadSelecciones.length === 1) {
                        var chart = new google.visualization.PieChart(document.getElementById('chart'));
                        chart.draw(data, options);
                    } else {
                        var chart = new google.visualization.BarChart(document.getElementById('chart'));
                        chart.draw(data, options);
                    }


                } else {
                    drawChart();
                }


            });

        </script>
    }
</body>


