@page
@model Iteracion_2.Pages.Analitica.ReporteModel
@{
    ViewData["Title"] = "Reporte";
}

<head>
    <link rel="stylesheet" href="~/css/border-radius.css" />
</head>

<body>
    <input type="text" id="tipo" value="" />
    <button onclick="drawChart(1)">Graficar</button>

    <div id="chart"></div>

    @section Scripts
        {
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script type="text/javascript">
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);
            function drawChart(e) {

                if (e == null) {
                    var jsonData = $.ajax({
                        url: "/Analitica/Reporte?handler=ChartData",
                        dataType: "json",
                        async: false
                    }).responseText;
                    var data = new google.visualization.DataTable(jsonData);
                    var options = {
                        'title': 'Tipos de miembro en la comunidad',
                        'width': 850,
                        'height': 650
                    };
                } else {
                    const tipo = document.getElementById('tipo').value;

                    var jsonData = $.ajax({
                        url: "/Analitica/Reporte?handler=ChartData&entrada=" + tipo,
                        dataType: "json",
                        async: false
                    }).responseText;
                    var data = new google.visualization.DataTable(jsonData);
                    var options = {
                        'title': 'Reporte por: ' + tipo,
                        'width': 600,
                        'height': 500
                    };
                }


                var chart = new google.visualization.PieChart(document.getElementById('chart'));
                chart.draw(data, options);
            }
        </script>
    }
</body>


