@page
@model Iteracion_2.Pages.RegistrarModel
@{
    ViewData["Title"] = "Registrar";
}

<head>
    <link rel="stylesheet" href="~/css/border-radius.css" />
</head>

<h2><strong>Registrarse</strong></h2>
<label for="inputName"> @ViewData["valid"] </label>

<form method="post">
    <div class="form-group">
        <label for="inputName">Nombre Completo</label>
        <input type="text" class="form-control" name="inputName" placeholder="John Sm..." maxlength = "49">
    </div>

    <div class="form-group">
        <label for="inputUsername">Nombre de Usuario</label>
        <input type="text" class="form-control" name="inputUsername" placeholder="Das_348" maxlength = "49">
    </div>
    <label for="inputName" style ="color:red;"> @ViewData["username"] </label>
    <div class="form-row">
        <div class="form-group col-md-6">
            <button type="submit" class="btn btn-primary">Registrarse</button>
            <button asp-page-handler="Ingresar" class="btn btn-primary">Ingresar a cuenta</button>
        </div>
    </div>
</form>